<?xml version="1.0" encoding="UTF-8" ?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] %d{HH:mm:ss} [%t] %logger - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="org.dolta" level="all" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

        <!--Root Logger-->

        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>


</Configuration>